# Lists and List Operations
Lists are created using square brackets. A Python data type that holds an ordered collection of values, which can be of any type. Lists are Python’s ordered mutable data type. 

https://www.w3schools.com/python/python_lists.asp

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
my_list = ["item 1", 2, "item 3", False, 5.8] # List can also store different data types, but it may make little sense

In [ ]:
# List items are indexed, the first item has index [0], the second item has index [1] etc.
list1[1]

'banana'

In [ ]:
list1.append('pineapple')
list1

['apple', 'banana', 'cherry', 'pineapple']

In [ ]:
list1.append("pineapple")
list1
# list can contain duplicate values

['apple', 'banana', 'cherry', 'pineapple', 'pineapple']

In [ ]:
list1.remove('pineapple')
list1
# it removes the first occurance

['apple', 'banana', 'cherry', 'pineapple']

How to remove all occurances of 'pineapple' from the list?
Try googling the method to do it!

In [ ]:
# code here
list(filter(lambda a: a != 'pineapple', list1))

['apple', 'banana', 'cherry']

## List Comprehensions

Convenient ways to generate or extract information from lists.

Syntax --> [variable for variable in iterable condition]

In [ ]:
x_list = [1,2,3,4,5,6,7]

even_list = [num for num in x_list if (num % 2 == 0)]

even_list

[2, 4, 6]

In [ ]:
# odd list =

In [ ]:
newlist = [x for x in range(10)]
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
newlist = [x for x in range(10) if x < 5]
newlist

[0, 1, 2, 3, 4]

In [ ]:
newlist = [x.upper() for x in list1]
newlist

['APPLE', 'BANANA', 'CHERRY', 'PINEAPPLE']

## Let's take a list of inputs for our example

In [1]:
user_input = input('Give the temperature in degrees celsius and I will convert it to Fahrenheit!')
print(user_input)
print(user_input.split()) # Gives an array

12 13 14
['12', '13', '14']

In [2]:
def celsius_to_fahrenheit(deg_c):
    deg_f = deg_c * 9/5 + 32
    return f"It is {deg_c}°C ({deg_f}°F) in Eindhoven today."

In [3]:
def validate_input_and_convert():
    if user_input.isdigit():
        user_input_as_num = int(user_input)
        deg_f = celsius_to_fahrenheit(user_input_as_num)
        print(deg_f)
    else:
     print('Cannot convert a non numeric value, sorry!')

In [ ]:
user_input = ''
while user_input != "exit":
    user_input = input('Give the temperature in degrees celsius and I will convert it to Fahrenheit!')
    for temperature in user_input.split(): # split() converts a string in to an array
        validate_input_and_convert()

It is 1°C (33.8°F) in Eindhoven today.
It is 2°C (35.6°F) in Eindhoven today.
It is 3°C (37.4°F) in Eindhoven today.
It is 4°C (39.2°F) in Eindhoven today.
Cannot convert a non numeric value, sorry!

Let's give inputs by seperated by a , instead of space

In [ ]:
user_input = ''
while user_input != "exit":
    user_input = input('Give the temperature in degrees celsius and I will convert it to Fahrenheit!')
    for temperature in user_input.split(','): # split() converts a string in to an array, seperation by a comma (,)
        validate_input_and_convert()

It is 1°C (33.8°F) in Eindhoven today.
It is 2°C (35.6°F) in Eindhoven today.
It is 3°C (37.4°F) in Eindhoven today.
It is 4°C (39.2°F) in Eindhoven today.
Cannot convert a non numeric value, sorry!
Cannot convert a non numeric value, sorry!